*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-position: inside;
    /* list-style-image: url(../../s1/image.jfif); */
    list-style-type: none;
}

/* table{
    width:80%;
    border-collapse: collapse;
    margin: 5% auto;
}
table, tr, td, th{
    border: 1px solid black
}
td{
    padding: 1% 5%;
}

tr:hover{
    background-color: aquamarine;
}
tr:nth-child(odd){
    background-color: blueviolet;
} */

#mysec{
    width:90%;
    margin: 5% auto;
    background: black;
    height: 10rem;
}
#mydiv{
    width: 100px;
    aspect-ratio: 1/1;
    background-color: blue;
    transition: all 1s;
    /* transition-delay: 0.5s; */
    transition-timing-function: ease-in-out;
    margin-left: 0;
    /* height: 10rem; */
    margin: auto;
}
#mysec:hover #mydiv{
    /* background-color: yellow;
    width:50%; */
    /* margin-left: 80%; */
    /* transform: rotate(45deg); */
    /* transform: scale(5,3); */
    /* transform: scaleY(1.5); */
    /* transform: skew(45deg); */
    transform: translate(100px, 150px);
}