.main-nav .active{
    background-color: orange;
    color: white!important;
}
.bg-hero{
    background-image: url(../Mask\ group.png);
    background-repeat: no-repeat;
    background-position: top right;
}